
<section class="container">
  <h1>Filmes</h1>
  <section class="align-loading" *ngIf="loading">
    <app-loading></app-loading>
  </section>

  <!-- Modal Details-->
  <app-modal-details [movie]="movieById" [openModal]="openModalId" *ngIf="movieById"></app-modal-details>

  <!-- pagination -->
  <section class="container-pagination" *ngIf="movies">
    <h3 class="title-pages">Páginas:</h3>
    <app-pagination [movies]="movies" ></app-pagination>
  </section>

  <section>
    <app-cards [filmes]="movies" (item)="detailsByMovie($event)" *ngIf="movies" ></app-cards>
  </section>

  <!--Modal error -->
  <app-modal  [message]="message" [open]="error" *ngIf="error"></app-modal>
</section>
