h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
}

.align-loading {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.container-pagination {
    display: flex;
    justify-content: left;
    max-width: 1200px;
    margin: 10px auto;
    align-items: center;
    flex-wrap: wrap;
}

.title-pages {
    margin-right: 10px;
    color: aliceblue;
}

/* formulario */
.container-form {
    display: flex;
    justify-content: left;
    max-width: 1200px;
    margin: 10px auto;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 10px;
}

input[type=text] {
    width: 400px;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-sizing: border-box;
    font-size: 1.5em;
}

input[type=submit] {
    max-width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type=submit]:hover {
    background-color: #0d6412;
}

form {
    display: flex;
}

input:focus {
    outline: none;
}

/* Media queries */
@media only screen and (max-width: 535px) {
    form {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-sizing: border-box;
        font-size: 1em;
    }

}