<section class="container">
    <article class="card" *ngFor="let filme of filmes">
        <img class="foto" src="https://image.tmdb.org/t/p/w200{{filme.poster_path}}" />
        <div>
            <h4>Título:</h4>
            <p class='title'>{{filme.original_title}}</p>
        </div>
        <h4 class='mt'>Lançado:</h4>
        <p>{{filme.release_date | date: 'dd/MM/yyyy'}}</p>
        <h4 class="mt">Notas de usuários:</h4>
        <p>{{filme.vote_average}}</p>
         
          <h4 class="mt">Síntese:</h4>
          <p class=''>{{filme.overview.substring(0,50)}}...</p>
        
    </article>
</section>