.container {
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  /* dimensiona os cards d acordo com tela */
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.card {
  background-color: #ffc760;
  padding: 5px 15px;
  border-radius: 10px;
}

.title {
  padding: auto;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
}

.foto {
  width: 100%;
  height: auto;
  margin: 10px 0 10px 0;
  object-fit: cover;
  background: #2a2525;
  border-radius: 10px;
}

h4 {
  margin: 0;
  font-weight: bold;
}

.mt {
  margin-top: -14px;
}

.p-nota {
  padding: 2px;
}

.nota {
  background: #5c400b;
  padding: 4px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 1.1em;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}


.foto-details {
  width: 200px;
  height: auto;
  margin: 5px 20px;
  object-fit: inherit;
  background: #2a2525;
  border-radius: 10px;
}

.align-secao {
  display: flex;
  margin-bottom: 20px;
}

.lancamento {
  display: flex;
  justify-content: space-between;
}

.align-title {
  text-align: center;
}

.align-title * {
  font-size: 1.4em;
}

.mb-25 {
  margin-bottom: 25px;
}



/* media query */
@media only screen and (max-width: 1170px) {
  .align-secao {
    display: block;
  }

  .foto-details {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 280px;
  }
}


@media only screen and (max-width: 552px) {

  .align-btn{
    display: flex;
    justify-content: center;
  }
}